<div class="container">
  <h2>Mi portfolio de criptomonedas:</h2>
  <br/>
  <br/>
  <table *ngIf="QTUMWallet && OMGWallet && ETHWallet" class="table table-striped table-bordered">
    <tr>
      <th>Moneda</th>
      <th>Valor de Compra</th>
      <th>Valor Actual</th>
      <th>Diferencia (€)</th>
      <th>Diferencia (BTC)</th>
      <th>Porcentaje</th>
      <th>Valor Real</th>
    </tr>

    <tr *ngFor="let buyOperation of QTUMWallet.BuyOperations">
      <td>QTUM</td>
      <td>{{buyOperation.BuyPrice}}</td>
      <td>{{QTUMWallet.CurrentValue}}</td>
      <td [ngClass]="{'positive': QTUMWallet.hasBenefits(buyOperation), 'negative': !QTUMWallet.hasBenefits(buyOperation)}">{{QTUMWallet.getDifference(buyOperation)*BTCValue.EUR | number:'1.0-3'}}€</td>
      <td>{{QTUMWallet.getDifference(buyOperation) | number:'1.0-7'}}BTC</td>
      <td>{{QTUMWallet.getPercentage(buyOperation) | number:'1.0-2'}} %</td>
      <td>{{QTUMWallet.getActualValue(buyOperation)*BTCValue.EUR | number:'1.0-2'}}€</td>
    </tr>

    <tr *ngFor="let buyOperation of OMGWallet.BuyOperations">
      <td>OMG</td>
      <td>{{buyOperation.BuyPrice}}</td>
      <td>{{OMGWallet.CurrentValue}}</td>
      <td [ngClass]="{'positive': OMGWallet.hasBenefits(buyOperation), 'negative': !OMGWallet.hasBenefits(buyOperation)}">{{OMGWallet.getDifference(buyOperation)*BTCValue.EUR | number:'1.0-3'}}€</td>
      <td>{{OMGWallet.getDifference(buyOperation) | number:'1.0-7'}}BTC</td>
      <td>{{OMGWallet.getPercentage(buyOperation) | number:'1.0-2'}} %</td>
      <td>{{OMGWallet.getActualValue(buyOperation)*BTCValue.EUR | number:'1.0-2'}}€</td>
    </tr>

    <tr *ngFor="let buyOperation of ETHWallet.BuyOperations">
      <td>ETH</td>
      <td>{{buyOperation.BuyPrice}}</td>
      <td>{{ETHWallet.CurrentValue}}</td>
      <td [ngClass]="{'positive': ETHWallet.hasBenefits(buyOperation), 'negative': !ETHWallet.hasBenefits(buyOperation)}">{{ETHWallet.getDifference(buyOperation) | number:'1.0-3'}}€</td>
      <td></td>
      <td>{{ETHWallet.getPercentage(buyOperation) | number:'1.0-2'}} %</td>
      <td>{{ETHWallet.getActualValue(buyOperation) | number:'1.0-2'}}€</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td></td>
      <td></td>
      <td [ngClass]="{'positive': hasBenefits(), 'negative': !hasBenefits()}">{{getTotalDifference() | number:'1.0-2'}}€</td>
      <td></td>
      <td></td>
      <td>{{getTotalActualValue() | number:'1.0-2'}}€</td>
    </tr>
  </table>
</div>
